@model V3_Movie_MVC_RepoPattern_EF_CodeFirst_Identity.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="Create" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Movie.Name" class="control-label"></label>
                    <input asp-for="Movie.Name" class="form-control" />
                    <span asp-validation-for="Movie.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                    <input asp-for="Movie.ReleaseDate" class="form-control" />
                    <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Movie.Genre" class="control-label"></label>
                    <select asp-for="Movie.Genre" class="form-control" asp-items="Html.GetEnumSelectList<Genre>()">
                        <option value="" disabled="disabled" selected="selected">-- select --</option>
                    </select>
                    <span asp-validation-for="Movie.Genre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Movie.Rating" class="control-label"></label>
                    <input asp-for="Movie.Rating" class="form-control" />
                    <span asp-validation-for="Movie.Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Movie.Actors" class="control-label"></label>
                    @*@foreach (var actor in Model.Actors)
        {
            <div>
            <input asp-for="@actor.Selected" type="checkbox" />
            <label asp-for="@actor.Text">@actor.Text</label>
            </div>
        }*@

                    @for (int i = 0; i < Model.Actors.Count; i++)
                    {
                <div>
                    <input type="hidden" asp-for="@Model.Actors[i].Value" />
                    <input type="hidden" asp-for="@Model.Actors[i].Text" />
                    <input asp-for="@Model.Actors[i].Selected" type="checkbox" />
                    <label asp-for="@Model.Actors[i].Text">@Model.Actors[i].Text</label>
                </div>
                    }
                    <span asp-validation-for="Movie.Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
